In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas import pivot_table
import json
from statistics import median

In [2]:
oeu = pd.read_csv('he_map_eu.csv', skiprows=14, thousands=',')
ooe = pd.read_csv('he_map_oe.csv', skiprows=14, thousands=',')
oaf = pd.read_csv('he_map_af.csv', skiprows=14, thousands=',')
oas = pd.read_csv('he_map_as.csv', skiprows=14, thousands=',')
oau = pd.read_csv('he_map_au.csv', skiprows=14, thousands=',')
ome = pd.read_csv('he_map_me.csv', skiprows=14, thousands=',')
ona = pd.read_csv('he_map_na.csv', skiprows=14, thousands=',')
osa = pd.read_csv('he_map_sa.csv', skiprows=14, thousands=',')

In [3]:
aeu = oeu.copy()
aoe = ooe.copy()
aaf = oaf.copy()
aas = oas.copy()
aau = oau.copy()
ame = ome.copy()
ana = ona.copy()
asa = osa.copy()

aeu = aeu.apply(pd.to_numeric, errors='ignore')
aoe = aoe.apply(pd.to_numeric, errors='ignore')
aaf = aaf.apply(pd.to_numeric, errors='ignore')
aas = aas.apply(pd.to_numeric, errors='ignore')
aau = aau.apply(pd.to_numeric, errors='ignore')
ame = ame.apply(pd.to_numeric, errors='ignore')
ana = ana.apply(pd.to_numeric, errors='ignore')
asa = asa.apply(pd.to_numeric, errors='ignore')

cont_list=[aeu,aoe,aaf,aas,aau,ame,ana,asa]

for i in cont_list:
    print(i.shape)

(166, 41)
(166, 30)
(166, 61)
(166, 37)
(166, 32)
(166, 19)
(166, 45)
(166, 18)

In [4]:
# all Uni names are unique
len(aas['HE Provider'].unique())

166

In [5]:
# varify skip rows are consistent
for i in cont_list:
    print(i.columns[0])

UKPRN
UKPRN
UKPRN
UKPRN
UKPRN
UKPRN
UKPRN
UKPRN

In [6]:
# drop row Total
for i in cont_list:
    i.drop([i.index[-1]], inplace=True)
    print(i.shape)

(165, 41)
(165, 30)
(165, 61)
(165, 37)
(165, 32)
(165, 19)
(165, 45)
(165, 18)

In [7]:
# drop first column and last 3 columns
for i in cont_list:
    i.drop([i.columns[0], i.columns[-3], i.columns[-2], i.columns[-1]], axis=1, inplace=True)
    print(i.shape)

(165, 37)
(165, 26)
(165, 57)
(165, 33)
(165, 28)
(165, 15)
(165, 41)
(165, 14)

In [52]:
# cont_list=[aeu,aoe,aaf,aas,aau,ame,ana,asa]

Europe = list(aeu.columns)[1:] + list(aoe.columns)[1:]
Africa = list(aaf.columns)[1:]
Asia = list(aas.columns)[1:]
Oceania = list(aau.columns)[1:]
ME = list(ame.columns)[1:]
NA = list(ana.columns)[1:]
SA = list(asa.columns)[1:]

## Clean HE Names

In [53]:
Europe.remove('Cyprus (European Union)')
Europe.remove('Cyprus (Non-European Union)')
Europe.remove('Cyprus not otherwise specified')
Europe.append('Cyprus')

In [54]:
Europe[Europe.index('Macedonia [Macedonia, The Former Yugoslav Republic of]')] = 'Macedonia'
Europe[Europe.index('Moldova [Moldova, Republic of]')] = 'Moldova'
Europe[Europe.index('Russia [Russian Federation]')] = 'Russia'

Africa[Africa.index('Congo (Democratic Republic) [Congo (The Democratic Republic of the)]')] = 'Dem. Rep. Congo'
Africa[Africa.index('Gambia, The')] = 'Gambia'
Africa[Africa.index("Ivory Coast [Côte D'ivoire]")] = "Côte d'Ivoire"
Africa[Africa.index('Tanzania [Tanzania, United Republic of]')] = 'Russia'

Asia[Asia.index('Burma [Myanmar]')] = 'Myanmar'
Asia[Asia.index('Korea (South) [Korea, Republic of]')] = 'Korea'
Asia[Asia.index("Laos [Lao People's Democratic Republic]")] = 'Lao PDR'
Asia[Asia.index('Taiwan [Taiwan, Province of China]')] = 'Taiwan'
Asia[Asia.index('Vietnam [Viet Nam]')] = 'Vietnam'

ME[ME.index('Iran [Iran, Islamic Republic of]')] = 'Iran'
ME[ME.index('Occupied Palestinian Territories [Palestine, State of]')] = 'Palestine'
ME[ME.index('Syria [Syrian Arab Republic]')] = 'Syria'

NA[NA.index('Bahamas, The')] = 'Bahamas'

SA[SA.index('Falkland Islands [Falkland Islands (Malvinas)]')] = 'Falkland Is.'
SA[SA.index('Venezuela [Venezuela, Bolivarian Republic of]')] = 'Venezuela'

In [55]:
Asia.remove('Hong Kong (Special Administrative Region of China) [Hong Kong]')
Asia.remove('Macao (Special Administrative Region of China) [Macao]')

In [56]:
Europe[Europe.index('Czech Republic')] = 'Czech Rep.'
Europe[Europe.index('Bosnia and Herzegovina')] = 'Bosnia and Herz.'
Africa[Africa.index('South Sudan')] = 'S. Sudan'
NA[NA.index('Dominican Republic')] = 'Dominican Rep.'

In [74]:
continents = [Europe, Africa, Asia, Oceania, ME, NA, SA]
labels = ['Europe', 'Africa', 'Asia', 'Oceania', 'ME', 'NA', 'SA']

df = pd.DataFrame(columns=['Country', 'Continent'], index=range(1000))
row = 0
for i, cont in enumerate(continents):
    for cn in cont:
        df.loc[row].Country = cn
        df.loc[row].Continent = labels[i]
        row += 1
        
df.dropna(inplace=True)

print(df.shape)
df.head()

(239, 2)

          Country Continent
0         Austria    Europe
1         Belgium    Europe
2        Bulgaria    Europe
3  Canary Islands    Europe
4         Croatia    Europe

In [75]:
df.tail()

       Country Continent
234   Paraguay        SA
235       Peru        SA
236   Suriname        SA
237    Uruguay        SA
238  Venezuela        SA

In [76]:
# df.to_csv('HE_continents.csv')