In [1]:
# Notebook Purpose:
#
# To select interesting columns and create dummy variables

In [ ]:
# Features to be selected:
#
# MSSubClass
# MSZoning
# Neighborhood
# Condition1
# OverallQual
# YearBuilt
# TotalBsmtSF
# GrLivArea

In [2]:
data_url = 'https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data'

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
ttrain = pd.read_csv('train.csv')

ttrain.shape

(1460, 81)

In [4]:
# select the columns we want

tedit = ttrain[['MSSubClass','MSZoning','Neighborhood','Condition1',
                'OverallQual','YearBuilt','TotalBsmtSF','GrLivArea'
               ]]

tedit.shape

(1460, 8)

In [5]:
tedit.head()

,MSSubClass,MSZoning,Neighborhood,Condition1,OverallQual,YearBuilt,TotalBsmtSF,GrLivArea
0,60,RL,CollgCr,Norm,7,2003,856,1710
1,20,RL,Veenker,Feedr,6,1976,1262,1262
2,60,RL,CollgCr,Norm,7,2001,920,1786
3,70,RL,Crawfor,Norm,7,1915,756,1717
4,60,RL,NoRidge,Norm,8,2000,1145,2198

In [10]:
# Create dummy variable for columns

dumm_mss = pd.get_dummies(tedit['MSSubClass'],drop_first=True)
dumm_msz = pd.get_dummies(tedit['MSZoning'],drop_first=True)
dumm_nei = pd.get_dummies(tedit['Neighborhood'],drop_first=True)
dumm_con = pd.get_dummies(tedit['Condition1'],drop_first=True)

In [12]:
tdumm = pd.concat([tedit['OverallQual'], tedit['YearBuilt'],
                  tedit['TotalBsmtSF'], tedit['GrLivArea'],
                  dumm_mss, dumm_msz, dumm_nei, dumm_con],
                  axis=1)

tdumm.shape

(1460, 54)

In [13]:
tdumm.head()

,OverallQual,YearBuilt,TotalBsmtSF,GrLivArea,30,40,45,50,60,70,...,Timber,Veenker,Feedr,Norm,PosA,PosN,RRAe,RRAn,RRNe,RRNn
0,7,2003,856,1710,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
1,6,1976,1262,1262,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
2,7,2001,920,1786,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
3,7,1915,756,1717,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
4,8,2000,1145,2198,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0

In [14]:
# save new feature dataset for regression

try:
    tdumm.to_csv('homefeatures.csv',mode='x')
except:
    print('File exists')

In [17]:
# extract the target variable

ttar = ttrain['SalePrice']

ttar.shape

(1460,)

In [18]:
ttar.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [19]:
# save new target dataset for regression

try:
    ttar.to_csv('hometarget.csv',mode='x')
except:
    print('File exists')

In [ ]:
# to be continued in pt 03