## Purpose of script:

#### Try out synthetic data generation, useful for testing code and models
#### Tutorial url: https://github.com/joke2k/faker

In [16]:
from faker import Faker
from faker.providers import DynamicProvider
import pandas as pd

In [2]:
fake = Faker()

In [3]:
fake.name()

'Gregory Thompson'

In [4]:
fake.address()

'38144 Ramirez Stream\nHayesport, NM 96137'

In [5]:
fake.text()[:100]

'Than beautiful star born rate stand. Six floor may television score true. Shoulder himself part smal'

In [6]:
fake = Faker(['it_IT', 'en_US', 'ja_JP'])
for _ in range(10):
    print(fake.name())

Irma Innocenti-Giannetti
吉田 桃子
加藤 桃子
佐藤 涼平
Guido Cassarà
Alina Verdi
松本 香織
Dustin Pham
Richard Tucker
Elijah Blake

In [8]:
fake = Faker(['de_DE'])
for _ in range(5):
    print(fake.address() + '\n')

Bruderstraße 701
06061 Pegnitz

Ditschlerinallee 11
08757 Mettmann

Christophallee 2/5
82155 Ueckermünde

Imke-Weitzel-Gasse 309
23967 Hammelburg

Kreuselweg 2/1
87199 Starnberg

In [15]:
df = pd.DataFrame()
fake = Faker(['en_US'])

f_name = []
f_ssn = []
f_birth = []

for _ in range(5):
    f_name.append(fake.name())
    f_ssn.append(fake.ssn())
    f_birth.append(fake.date())
    
df['Name'] = f_name
df['SSN'] = f_ssn
df['Birthdate'] = f_birth

df

            Name          SSN   Birthdate
0    Mary Garcia  623-02-3921  1984-06-19
1   Julian Black  668-19-7925  2005-02-07
2  Rebecca Haley  111-33-8906  2002-06-19
3      David May  013-26-8271  2009-02-03
4   Kristen Ryan  564-97-3137  1971-08-29

In [17]:
# create your own provider
medical_professions_provider = DynamicProvider(
     provider_name="medical_profession",
     elements=["dr.", "doctor", "nurse", "surgeon", "clerk"],
)

fake = Faker()

fake.add_provider(medical_professions_provider)

fake.medical_profession()

'doctor'