In [ ]:
## Purpose of script:
#### Data exploration of City of Philadelphia's open data

In [8]:
import numpy as np
import pandas as pd
import passyunk

In [2]:
prop_orig = pd.read_csv('../../../Large_Datasets/opa_properties_public.csv', header=0)

print(prop_orig.shape)
prop_orig.head(2)

C:\Users\liamk\AppData\Local\Temp\ipykernel_28148\3141306323.py:1: DtypeWarning: Columns (4,12,21,25,54,67,69,76) have mixed types. Specify dtype option on import or set low_memory=False.
  prop_orig = pd.read_csv('../../../Large_Datasets/opa_properties_public.csv', header=0)

(582108, 80)

,objectid,assessment_date,basements,beginning_point,book_and_page,building_code,building_code_description,category_code,category_code_description,census_tract,...,view_type,year_built,year_built_estimate,zip_code,zoning,pin,building_code_new,building_code_description_new,lat,lng
0,270025022,2022-04-27 11:50:34,NaN,"124'9 1/2"" E GERMANTN",NaN,SC,VACANT LAND COMMER < ACRE,6,VACANT LAND,175.0,...,I,NaN,NaN,19133.0,CMX2,1001489682,NaN,NaN,-75.146849,39.994767
1,270025023,2022-04-27 11:50:37,NaN,175' N CLIFFORD ST,NaN,SR,VACANT LAND RESIDE < ACRE,6,VACANT LAND,149.0,...,I,NaN,NaN,19121.0,RSA5,1001648434,NaN,NaN,-75.184591,39.983481

In [3]:
parcel_orig = pd.read_csv('../../../Large_Datasets/DOR_Parcel.csv', header=0)

print(parcel_orig.shape)
parcel_orig.head(2)

C:\Users\liamk\AppData\Local\Temp\ipykernel_28148\3018192716.py:1: DtypeWarning: Columns (4,22,26,28,29,30,31,32,33,34,35,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  parcel_orig = pd.read_csv('../../../Large_Datasets/DOR_Parcel.csv', header=0)

(606681, 40)

,OBJECTID,RECSUB,BASEREG,MAPREG,PARCEL,RECMAP,STCOD,HOUSE,SUF,UNIT,...,STEX_FRAC,STEX_SUF,SEPARATED_RIGHTS,MUNIMENT_TYPE,MUNIMENT_ID,DOR_REVIEW,OPA_REVIEW,PWD_REVIEW,Shape__Area,Shape__Length
0,1,,138N140298,138N140298,298,138N14,18960.0,3445.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,246.328125,95.574360
1,2,,054N080218,054N080218,218,054N08,19000.0,286.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,310.527344,103.266384

In [4]:
## Only use active DOR parcels, which can be identified by having a status value of 1 or 3
parcel_orig.STATUS.value_counts()

1    570702
2     30899
3      4125
9       945
4         5
5         5
Name: STATUS, dtype: int64

In [9]:
'pin' in prop_orig.columns

True

In [10]:
'pin' in parcel_orig.columns

False

In [13]:
'pin'.upper() in parcel_orig.columns

True

In [27]:
prop_df = prop_orig.copy()
parcel_df = parcel_orig.copy()

In [28]:
print(len(prop_df))
print(prop_df.pin.nunique())

582108
582108

In [30]:
print(len(parcel_df))

parcel_df = parcel_df[parcel_df.STATUS.isin([1, 3])]

print(len(parcel_df))

606681
574827

In [31]:
## some duplication of PIN for parcel dataset
print(parcel_df.PIN.nunique())

574601

In [32]:
## Question 1
q1 = len(set(prop_df.pin.unique()).intersection(set(parcel_df.PIN.unique()))) / \
    prop_df.pin.nunique()

print(f'{q1:.2%} of properties have an entry found in parcels')

90.30% of properties have an entry found in parcels