In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
### Tie updated title info to CH

In [3]:
use_cols = ['Title Number', 'Tenure', 'Property Address', 'District', 'County',
            'Region', 'Postcode', 'Multiple Address Indicator', 'Price Paid',
            'Proprietor Name (1)', 'Company Registration No. (1)',
            'Proprietorship Category (1)', 'Proprietor (1) Address (1)',
            'Proprietor (1) Address (2)', 'Proprietor (1) Address (3)']

rorig = pd.read_csv('CCOD_COU_2019_11.csv', skipfooter=1, engine='python',
                    usecols=use_cols,
                    dtype={'Title Number': str,
                           'Company Registration No. (1)': str})

print(rorig.shape)
rorig.head(2)

(63745, 15)

,Title Number,Tenure,Property Address,District,County,Region,Postcode,Multiple Address Indicator,Price Paid,Proprietor Name (1),Company Registration No. (1),Proprietorship Category (1),Proprietor (1) Address (1),Proprietor (1) Address (2),Proprietor (1) Address (3)
0,NT72787,Freehold,"2 Horsham Drive, Top Valley (NG5 9AH)",CITY OF NOTTINGHAM,CITY OF NOTTINGHAM,EAST MIDLANDS,NG5 9AH,N,30000.0,PLACES FOR PEOPLE HOMES LIMITED,IP19447R,Industrial and Provident Society (Company),"80 Cheapside, London EC2V 6EE","4 The Pavilions, Ashton-on-Ribble, Preston PR2...",NaN
1,LT25408,Freehold,"98-100 Melton Road, Leicester (LE4 5EB)",LEICESTER,LEICESTER,EAST MIDLANDS,LE4 5EB,N,NaN,JADEMARK LIMITED,2847145,Limited Company or Public Limited Company,"98 - 100 Melton Road, Leicester",NaN,NaN

In [4]:
rorig.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63745 entries, 0 to 63744
Data columns (total 15 columns):
Title Number                    63745 non-null object
Tenure                          63745 non-null object
Property Address                63716 non-null object
District                        63745 non-null object
County                          63745 non-null object
Region                          63745 non-null object
Postcode                        48816 non-null object
Multiple Address Indicator      63745 non-null object
Price Paid                      15991 non-null float64
Proprietor Name (1)             63745 non-null object
Company Registration No. (1)    59444 non-null object
Proprietorship Category (1)     63745 non-null object
Proprietor (1) Address (1)      63744 non-null object
Proprietor (1) Address (2)      5400 non-null object
Proprietor (1) Address (3)      369 non-null object
dtypes: float64(1), object(14)
memory usage: 7.3+ MB

In [5]:
redit = rorig.copy()

In [6]:
print(redit.Tenure.value_counts())

redit = redit[redit.Tenure == 'Freehold']
redit = redit[~redit['Property Address'].isnull()]
redit = redit[~redit['Company Registration No. (1)'].isnull()]

print(redit.shape)

Freehold     46165
Leasehold    17580
Name: Tenure, dtype: int64
(42660, 15)

In [7]:
redit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42660 entries, 0 to 63744
Data columns (total 15 columns):
Title Number                    42660 non-null object
Tenure                          42660 non-null object
Property Address                42660 non-null object
District                        42660 non-null object
County                          42660 non-null object
Region                          42660 non-null object
Postcode                        31564 non-null object
Multiple Address Indicator      42660 non-null object
Price Paid                      11173 non-null float64
Proprietor Name (1)             42660 non-null object
Company Registration No. (1)    42660 non-null object
Proprietorship Category (1)     42660 non-null object
Proprietor (1) Address (1)      42659 non-null object
Proprietor (1) Address (2)      3782 non-null object
Proprietor (1) Address (3)      254 non-null object
dtypes: float64(1), object(14)
memory usage: 5.2+ MB

In [8]:
usecols = ['CompanyName', 'CompanyNumber', 'Sics', 'RegAddress.AddressLine1',
           'RegAddress.AddressLine2', 'RegAddress.PostTown', 'RegAddress.County',
           'RegAddress.Country', 'RegAddress.PostCode',
           'CompanyStatus']

corig = pd.read_csv('ch_companies_clean_1.csv', usecols=usecols, dtype=str, index_col=None)

print(corig.shape)
corig.head(2)

(4400981, 10)

,CompanyName,CompanyNumber,Sics,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,CompanyStatus
0,! LTD,08209948,99999 - Dormant Company,METROHOUSE 57 PEPPER ROAD,HUNSLET,LEEDS,YORKSHIRE,NaN,LS10 2RU,Active
1,!? LTD,11399177,47710 - Retail sale of clothing in specialised...,THE STUDIO HATHERLOW HOUSE,HATHERLOW,ROMILEY,NaN,UNITED KINGDOM,SK6 3DY,Active

In [9]:
cedit = corig.copy()

In [10]:
cedit = cedit[cedit.CompanyStatus == 'Active']
cedit = cedit[~cedit.Sics.str.contains('99999')]
print(cedit.shape)

(4004643, 10)

## Merge Land Registry and CH

In [11]:
bedit = redit.merge(cedit, left_on='Company Registration No. (1)', right_on='CompanyNumber')

print(bedit.shape)
bedit.head(2)

(25064, 25)

,Title Number,Tenure,Property Address,District,County,Region,Postcode,Multiple Address Indicator,Price Paid,Proprietor Name (1),...,CompanyName,CompanyNumber,Sics,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,CompanyStatus
0,NT72787,Freehold,"2 Horsham Drive, Top Valley (NG5 9AH)",CITY OF NOTTINGHAM,CITY OF NOTTINGHAM,EAST MIDLANDS,NG5 9AH,N,30000.0,PLACES FOR PEOPLE HOMES LIMITED,...,PLACES FOR PEOPLE HOMES LIMITED,IP19447R,None Supplied,NaN,NaN,NaN,NaN,NaN,NaN,Active
1,GM632450,Freehold,"2, 2A, 2B and 2C Garside Hey Road, 2, 2A, 2B a...",BURY,GREATER MANCHESTER,NORTH WEST,NaN,N,NaN,PLACES FOR PEOPLE HOMES LIMITED,...,PLACES FOR PEOPLE HOMES LIMITED,IP19447R,None Supplied,NaN,NaN,NaN,NaN,NaN,NaN,Active

In [12]:
bedit = bedit[~bedit['Price Paid'].isnull()]

print(f"Rows with Price Paid: {len(bedit)}")
print(f"Unique companies: {len(bedit['Proprietor Name (1)'].unique())}")

Rows with Price Paid: 8621
Unique companies: 5659

In [15]:
# there are some duplicates
bedit.nlargest(8, 'Price Paid')[['Property Address', 'District', 'Price Paid', 'CompanyName', 'Sics']]

,Property Address,District,Price Paid,CompanyName,Sics
13701,"Sentinel House, 50 to 60 Southampton Row, Holborn",CAMDEN,127099998.0,GRANGE HOLBORN LIMITED,64209 - Activities of other holding companies ...
13702,"Grange Holborn Hotel, 50-60 Southampton Row, L...",CAMDEN,127099998.0,GRANGE HOLBORN LIMITED,64209 - Activities of other holding companies ...
13179,"Land lying to the north of Norwich Street, London",CITY OF LONDON,93200000.0,90 FL LLP,None Supplied
13180,"90 FETTER LANE, LONDON EC4A 1EN",CITY OF LONDON,93200000.0,90 FL LLP,None Supplied
11745,"Wool House, 74 Back Church Lane, London",TOWER HAMLETS,85000000.0,HECTAGON ASSETS LIMITED,"41100 - Development of building projects, 6810..."
11746,"Wool House, 74 Back Church Lane, London (E1 1LX)",TOWER HAMLETS,85000000.0,HECTAGON ASSETS LIMITED,"41100 - Development of building projects, 6810..."
17226,"55 Newman Street, London (W1T 3EB)",CITY OF WESTMINSTER,78000000.0,LEEU LONDON LIMITED,55100 - Hotels and similar accommodation
17227,"55 Newman Street, London (W1T 3EB)",CITY OF WESTMINSTER,78000000.0,LEEU LONDON LIMITED,55100 - Hotels and similar accommodation