In [38]:
import numpy as np
import pandas as pd

In [2]:
### Create clean land registry data; using full Jan 2020 data

In [ ]:
### Data downloaded from https://lrdatapublication.kahootz.com/connect.ti/system/userhome

In [40]:
### last row is row count; removed with skipfooter
rorig = pd.read_csv('CCOD_FULL_2020_01.csv', skipfooter=1, engine='python',
                    dtype={'Title Number': str, 'Company Registration No. (1)': str})

print(rorig.shape)
rorig.head(2)

(3728845, 35)

,Title Number,Tenure,Property Address,District,County,Region,Postcode,Multiple Address Indicator,Price Paid,Proprietor Name (1),...,Proprietor (3) Address (2),Proprietor (3) Address (3),Proprietor Name (4),Company Registration No. (4),Proprietorship Category (4),Proprietor (4) Address (1),Proprietor (4) Address (2),Proprietor (4) Address (3),Date Proprietor Added,Additional Proprietor Indicator
0,ESX354885,Leasehold,"Storage Spaces, Grand Ocean, Longridge Avenue,...",BRIGHTON AND HOVE,BRIGHTON AND HOVE,SOUTH EAST,NaN,N,NaN,EXPLORE LIVING PROPERTY MANAGEMENT LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26-11-2013,N
1,ESX354921,Freehold,"The Church of St Mary Magdalen, Coldean Lane, ...",BRIGHTON AND HOVE,BRIGHTON AND HOVE,SOUTH EAST,BN1 9GR,N,NaN,CHICHESTER DIOCESAN FUND AND BOARD OF FINANCE ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08-12-2010,N

In [41]:
### Proprietor after 2 is significantly reduced; for now keep Proprietor #1 only
rorig.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3728845 entries, 0 to 3728844
Data columns (total 35 columns):
Title Number                       3728845 non-null object
Tenure                             3728845 non-null object
Property Address                   3728500 non-null object
District                           3728845 non-null object
County                             3728845 non-null object
Region                             3728845 non-null object
Postcode                           2127818 non-null object
Multiple Address Indicator         3728845 non-null object
Price Paid                         557360 non-null float64
Proprietor Name (1)                3728845 non-null object
Company Registration No. (1)       2734924 non-null object
Proprietorship Category (1)        3728845 non-null object
Proprietor (1) Address (1)         3728821 non-null object
Proprietor (1) Address (2)         356437 non-null object
Proprietor (1) Address (3)         29926 non-null object
Proprietor Name (2)                34601 non-null object
Company Registration No. (2)       33094 non-null object
Proprietorship Category (2)        34601 non-null object
Proprietor (2) Address (1)         34601 non-null object
Proprietor (2) Address (2)         4438 non-null object
Proprietor (2) Address (3)         376 non-null object
Proprietor Name (3)                843 non-null object
Company Registration No. (3)       692 non-null object
Proprietorship Category (3)        843 non-null object
Proprietor (3) Address (1)         843 non-null object
Proprietor (3) Address (2)         71 non-null object
Proprietor (3) Address (3)         3 non-null object
Proprietor Name (4)                222 non-null object
Company Registration No. (4)       192 non-null object
Proprietorship Category (4)        222 non-null object
Proprietor (4) Address (1)         222 non-null object
Proprietor (4) Address (2)         8 non-null object
Proprietor (4) Address (3)         0 non-null float64
Date Proprietor Added              3660013 non-null object
Additional Proprietor Indicator    3728845 non-null object
dtypes: float64(2), object(33)
memory usage: 995.7+ MB

In [47]:
redit = rorig.copy()

redit = redit[['Title Number', 'Tenure', 'Property Address', 'District', 'County',
                'Region', 'Postcode', 'Multiple Address Indicator', 'Price Paid',
                'Proprietor Name (1)', 'Company Registration No. (1)',
                'Proprietorship Category (1)', 'Proprietor (1) Address (1)',
                'Proprietor (1) Address (2)', 'Proprietor (1) Address (3)']]

redit = redit.dropna(subset=['Property Address'])

redit = redit.rename(columns={'Title Number': 'TitleNumber', 'Property Address': 'TitleAddress',
                              'District': 'TitleDistrict', 'County': 'TitleCounty',
                              'Region': 'TitleRegion', 'Postcode': 'TitlePostcode',
                              'Multiple Address Indicator': 'MultipleAddresses', 'Price Paid': 'PricePaid',
                              'Proprietor Name (1)': 'ProprietorName', 
                              'Company Registration No. (1)': 'ProprietorNumber',
                              'Proprietorship Category (1)': 'ProprietorType',
                              'Proprietor (1) Address (1)': 'ProprietorAddressOne',
                              'Proprietor (1) Address (2)': 'ProprietorAddressTwo',
                              'Proprietor (1) Address (3)': 'ProprietorAddressThree',
                              })

redit.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3728500 entries, 0 to 3728844
Data columns (total 15 columns):
TitleNumber               3728500 non-null object
Tenure                    3728500 non-null object
TitleAddress              3728500 non-null object
TitleDistrict             3728500 non-null object
TitleCounty               3728500 non-null object
TitleRegion               3728500 non-null object
TitlePostcode             2127818 non-null object
MultipleAddresses         3728500 non-null object
PricePaid                 557360 non-null float64
ProprietorName            3728500 non-null object
ProprietorNumber          2734816 non-null object
ProprietorType            3728500 non-null object
ProprietorAddressOne      3728476 non-null object
ProprietorAddressTwo      356397 non-null object
ProprietorAddressThree    29921 non-null object
dtypes: float64(1), object(14)
memory usage: 455.1+ MB

In [51]:
for i in redit['TitleAddress'].sample(10):
    print(i)

Unit C, 14-22 Lands Lane, Leeds (LS1 6LB)
75 Moring Road, London (SW17 8DN)
Land at Allfoxton Road, Bristol
garage 20 Stock Park, Okehampton (EX20 1GD)
34 College Green, Droitwich WR9 8QP
land at Gatwick Airport, Crawley
Airspace above the roof of 178 Chatsworth Avenue, Fleetwood (FY7 8EJ)
360 Dereham Road, Costessey
41 and 42 Bradmore Green, Brookmans Park, Hatfield (AL9 7QR)
Electricity Sub Station, Cedar Avenue, Worthing

In [58]:
redit.TitleNumber.value_counts().max()

1

In [77]:
redit.TitleNumber.sample(10)

3146790    MAN104332
364988       P105491
1399231     GR342789
1055039     DY254228
3149788    SGL521213
783552      CL255750
2215854     NT540100
3361633    SGL578354
3399603    TGL374115
74553       BK450433
Name: TitleNumber, dtype: object

In [66]:
redit[redit.TitleNumber == 'SYK338206']

,TitleNumber,Tenure,TitleAddress,TitleDistrict,TitleCounty,TitleRegion,TitlePostcode,MultipleAddresses,PricePaid,ProprietorName,ProprietorNumber,ProprietorType,ProprietorAddressOne,ProprietorAddressTwo,ProprietorAddressThree
3721314,SYK338206,Freehold,"Unit, 5 Parkway Avenue, Sheffield (S9 4WA)",SHEFFIELD,SOUTH YORKSHIRE,YORKS AND HUMBER,S9 4WA,N,1045000.0,TOLLADINE ESTATES LIMITED,03106864,Limited Company or Public Limited Company,"6 Manor Farm Offices, Corsley, Warminster BA12...",NaN,NaN

In [59]:
redit.head(2)

,TitleNumber,Tenure,TitleAddress,TitleDistrict,TitleCounty,TitleRegion,TitlePostcode,MultipleAddresses,PricePaid,ProprietorName,ProprietorNumber,ProprietorType,ProprietorAddressOne,ProprietorAddressTwo,ProprietorAddressThree
0,ESX354885,Leasehold,"Storage Spaces, Grand Ocean, Longridge Avenue,...",BRIGHTON AND HOVE,BRIGHTON AND HOVE,SOUTH EAST,NaN,N,NaN,EXPLORE LIVING PROPERTY MANAGEMENT LIMITED,05597437,Limited Company or Public Limited Company,"Bridge Place, Anchor Boulevard, Crossways Busi...",NaN,NaN
1,ESX354921,Freehold,"The Church of St Mary Magdalen, Coldean Lane, ...",BRIGHTON AND HOVE,BRIGHTON AND HOVE,SOUTH EAST,BN1 9GR,N,NaN,CHICHESTER DIOCESAN FUND AND BOARD OF FINANCE ...,NaN,Corporate Body,"Diocesan Church House, 211 New Church Road, Ho...","Thomas Eggar, The Corn Exchange, Baffins Lane,...",NaN

In [52]:
# redit.to_csv('land-registry-full-01-2020-clean.csv', index=False)