In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
### Combine National Student Survey datasets

In [2]:
aorig = pd.read_excel('NSS Answers.xlsx', sheet_name='Scale 1', skiprows=4)
borig = pd.read_excel('NSS Answers.xlsx', sheet_name='Scale 2', skiprows=4)
corig = pd.read_excel('NSS Answers.xlsx', sheet_name='Scale 3', skiprows=4)
dorig = pd.read_excel('NSS Answers.xlsx', sheet_name='Scale 4', skiprows=4)
eorig = pd.read_excel('NSS Answers.xlsx', sheet_name='Scale 5', skiprows=4)
forig = pd.read_excel('NSS Answers.xlsx', sheet_name='Scale 6', skiprows=4)
gorig = pd.read_excel('NSS Answers.xlsx', sheet_name='Scale 7', skiprows=4)
horig = pd.read_excel('NSS Answers.xlsx', sheet_name='Scale 8', skiprows=4)

qlist = [aorig,borig,corig,dorig,eorig,forig,gorig,horig]

for i in qlist:
    i = i.drop(i.columns[2:8].tolist() + i.columns[11:14].tolist(), axis=1, inplace=True)

print(aorig.shape)
aorig.head()

(451, 6)

,UKPRN,Provider,Agree (%).2,Benchmark (%).2,+/-.2,Country
0,10007783,University of Aberdeen,86.39,84.91,NaN,Scotland
1,10007849,University of Abertay Dundee,87.44,83.89,NaN,Scotland
2,10007856,Aberystwyth University,91.15,84.91,+,Wales
3,10000055,Abingdon and Witney College,92.35,84.66,NaN,England
4,10046802,Academy of Music & Sound (Exeter) Ltd,82.50,84.58,NaN,England

In [3]:
# all have Holy Cross College missing data
for i in qlist:
    print(i[i['Agree (%).2'].isnull()])

        UKPRN            Provider  Agree (%).2  Benchmark (%).2 +/-.2  Country
185  10003128  Holy Cross College          NaN              NaN   NaN  England
        UKPRN            Provider  Agree (%).2  Benchmark (%).2 +/-.2  Country
185  10003128  Holy Cross College          NaN              NaN   NaN  England
        UKPRN            Provider  Agree (%).2  Benchmark (%).2 +/-.2  Country
185  10003128  Holy Cross College          NaN              NaN   NaN  England
        UKPRN            Provider  Agree (%).2  Benchmark (%).2 +/-.2  Country
185  10003128  Holy Cross College          NaN              NaN   NaN  England
        UKPRN            Provider  Agree (%).2  Benchmark (%).2 +/-.2  Country
185  10003128  Holy Cross College          NaN              NaN   NaN  England
        UKPRN            Provider  Agree (%).2  Benchmark (%).2 +/-.2  Country
185  10003128  Holy Cross College          NaN              NaN   NaN  England
        UKPRN            Provider  Agree (%).2  Benchmark (%).2 +/-.2  Country
185  10003128  Holy Cross College          NaN              NaN   NaN  England
        UKPRN            Provider  Agree (%).2  Benchmark (%).2 +/-.2  Country
185  10003128  Holy Cross College          NaN              NaN   NaN  England

In [4]:
for i in qlist:
    i = i.drop([185], inplace=True)

print(aorig.shape)

(450, 6)

In [5]:
aorig.columns

Index(['UKPRN', 'Provider', 'Agree (%).2', 'Benchmark (%).2', '+/-.2',
       'Country'],
      dtype='object')

In [6]:
for num, i in enumerate(qlist):
    
    i.rename(columns={'Agree (%).2':'s{} Agree'.format(num+1),
                      'Benchmark (%).2':'s{} Bench'.format(num+1),
                      '+/-.2':'s{} Sig'.format(num+1)}, inplace=True)
    
print(aorig.columns)
print(horig.columns)

Index(['UKPRN', 'Provider', 's1 Agree', 's1 Bench', 's1 Sig', 'Country'], dtype='object')
Index(['UKPRN', 'Provider', 's8 Agree', 's8 Bench', 's8 Sig', 'Country'], dtype='object')

In [7]:
aorig.head(2)

      UKPRN                      Provider  s1 Agree  s1 Bench s1 Sig   Country
0  10007783        University of Aberdeen     86.39     84.91    NaN  Scotland
1  10007849  University of Abertay Dundee     87.44     83.89    NaN  Scotland

In [19]:
cmerge = aorig.copy()
cmerge = cmerge[['Country','UKPRN','Provider','s1 Agree','s1 Bench','s1 Sig']]

for i in qlist[1:]:
    cmerge = pd.merge(cmerge, i.iloc[:, 1:-1], on='Provider')
           
print(cmerge.shape)
cmerge.head(2)

(450, 27)

,Country,UKPRN,Provider,s1 Agree,s1 Bench,s1 Sig,s2 Agree,s2 Bench,s2 Sig,s3 Agree,...,s5 Sig,s6 Agree,s6 Bench,s6 Sig,s7 Agree,s7 Bench,s7 Sig,s8 Agree,s8 Bench,s8 Sig
0,Scotland,10007783,University of Aberdeen,86.39,84.91,NaN,82.26,82.32,NaN,71.43,...,+,90.09,87.05,+,80.39,75.95,+,75.13,74.36,NaN
1,Scotland,10007849,University of Abertay Dundee,87.44,83.89,NaN,85.50,82.29,NaN,79.41,...,NaN,87.63,85.48,NaN,78.81,76.62,NaN,78.35,74.33,NaN

In [22]:
# cmerge.to_csv('he_choose_scale.csv')

## Misc

In [23]:
cmerge.Country.unique()

array(['Scotland', 'Wales', 'England', 'Northern Ireland'], dtype=object)

In [24]:
cmerge.Country.value_counts()

England             404
Scotland             19
Wales                18
Northern Ireland      9
Name: Country, dtype: int64

In [36]:
scale_dict = {'The teaching on my course':'s1 Agree', 'Learning opportunities':'s2 Agree',
                 'Assessment and feedback':'s3 Agree', 'Academic support':'s4 Agree',
                 'Organisation and management':'s5 Agree', 'Learning resources':'s6 Agree',
                 'Learning community':'s7 Agree', 'Student voice':'s8 Agree'}

In [37]:
scale_dict = {'s1 Agree':'The teaching on my course', 's2 Agree':'Learning opportunities',
                 's3 Agree':'Assessment and feedback', 's4 Agree':'Academic support',
                 's5 Agree':'Organisation and management', 's6 Agree':'Learning resources',
                 's7 Agree':'Learning community', 's8 Agree':'Student voice'}

In [38]:
[v for v in scale_dict.values()]

['The teaching on my course',
 'Learning opportunities',
 'Assessment and feedback',
 'Academic support',
 'Organisation and management',
 'Learning resources',
 'Learning community',
 'Student voice']

In [39]:
list(scale_dict.keys())

['s1 Agree',
 's2 Agree',
 's3 Agree',
 's4 Agree',
 's5 Agree',
 's6 Agree',
 's7 Agree',
 's8 Agree']