In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
### Explore and prep mean datasets

In [4]:
aorig = pd.read_csv('2017clean1.csv', header=0, index_col=0)
borig = pd.read_csv('2018clean1.csv', header=0, index_col=0)

print(aorig.shape)
print(borig.shape)

(10555, 25)
(10772, 25)

In [5]:
aorig.head(2)

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,"BRYANSTON SCHOOL,INCORPORATED","Bryanston House,\r\r\nBlandford,\r\r\nDorset,\...",00226143,85310,18.0,28.2,0.0,0.0,0.0,0.0,...,50.8,51.5,48.5,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,"""Bryanston School"",Incorporated",False,05/04/2018 00:00:00,27/03/2018 11:42:49
1,"RED BAND CHEMICAL COMPANY, LIMITED","19 Smith's Place,\r\r\nLeith Walk,\r\r\nEdinbu...",SC016876,47730,2.3,-2.7,15.0,37.5,15.6,66.7,...,89.7,18.1,81.9,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,05/04/2018 00:00:00,28/03/2018 16:44:25

In [6]:
borig.head(2)

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,"BRYANSTON SCHOOL,INCORPORATED","Bryanston House,\r\r\nBlandford,\r\r\nDorset,\...",00226143,85310,19.6,32.5,NaN,NaN,0.0,0.0,...,55.1,53.3,46.7,https://www.bryanston.co.uk/employment,Michael McGovern (Chief Operating Officer),500 to 999,"""Bryanston School"",Incorporated",False,05/04/2019 00:00:00,03/04/2019 13:43:34
1,"RED BAND CHEMICAL COMPANY, LIMITED","19 Smith's Place,\r\r\nLeith Walk,\r\r\nEdinbu...",SC016876,47730,7.7,-4.2,23.7,-75.2,22.2,82.0,...,88.4,20.3,79.7,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,05/04/2019 00:00:00,01/04/2019 12:37:21

In [8]:
aorig['DiffMeanHourlyPercent'].describe()

count    10555.000000
mean        14.383922
std         14.115640
min        -69.400000
25%          5.000000
50%         13.300000
75%         22.900000
max         94.000000
Name: DiffMeanHourlyPercent, dtype: float64

In [9]:
borig['DiffMeanHourlyPercent'].describe()

count    10772.000000
mean        14.194458
std         14.162800
min        -98.700000
25%          4.900000
50%         13.100000
75%         22.400000
max         93.100000
Name: DiffMeanHourlyPercent, dtype: float64

## Joining 2017 and 2018 data

In [12]:
ashort = aorig[['EmployerName', 'DiffMeanHourlyPercent']]
ashort = ashort.rename(columns={"DiffMeanHourlyPercent": "2017Diff"})

print(ashort.shape)
ashort.head(2)

(10555, 2)

                         EmployerName  2017Diff
0       BRYANSTON SCHOOL,INCORPORATED      18.0
1  RED BAND CHEMICAL COMPANY, LIMITED       2.3

In [13]:
bshort = borig[['EmployerName', 'DiffMeanHourlyPercent']]
bshort = bshort.rename(columns={"DiffMeanHourlyPercent": "2018Diff"})

print(bshort.shape)
bshort.head(2)

(10772, 2)

                         EmployerName  2018Diff
0       BRYANSTON SCHOOL,INCORPORATED      19.6
1  RED BAND CHEMICAL COMPANY, LIMITED       7.7

In [17]:
merged_gpg = pd.merge(ashort, bshort, on='EmployerName', how='outer')
merged_gpg.sort_values(by='2018Diff', inplace=True)

print(merged_gpg.shape)
merged_gpg.head(5)

(11460, 3)

                                    EmployerName  2017Diff  2018Diff
5930                          MIHOMECARE LIMITED      -7.0     -98.7
5446                            LONDONENERGY LTD     -12.6     -65.1
11029                      LOGOPLASTE UK LIMITED       NaN     -65.0
5683                        MARS FOOD UK LIMITED     -51.5     -62.0
3890   GS YUASA BATTERY MANUFACTURING UK LIMITED     -24.1     -56.2

In [18]:
merged_gpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11460 entries, 5930 to 10542
Data columns (total 3 columns):
EmployerName    11460 non-null object
2017Diff        10555 non-null float64
2018Diff        10772 non-null float64
dtypes: float64(2), object(1)
memory usage: 358.1+ KB

In [19]:
# merged_gpg.to_csv('gpgbothyears.csv')

In [20]:
# this concludes part 3.2