In [1]:
import pandas as pd
import numpy as np

In [2]:
#### Purpose of script:

#### Analyze customer care data and look for patterns
#### Data is Twitter customer care data from Twitter, from:
#### https://www.kaggle.com/datasets/thoughtvector/customer-support-on-twitter?resource=download

In [3]:
orig = pd.read_csv('../../../large_datasets/twcs.csv', header=0)

print(orig.shape)
orig.head(5)

(2811774, 7)

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0

In [4]:
orig.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2811774 entries, 0 to 2811773
Data columns (total 7 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   tweet_id                 2811774 non-null  int64
 1   author_id                2811774 non-null  object
 2   inbound                  2811774 non-null  bool
 3   created_at               2811774 non-null  object
 4   text                     2811774 non-null  object
 5   response_tweet_id        1771145 non-null  object
 6   in_response_to_tweet_id  2017439 non-null  float64
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 131.4+ MB

In [5]:
orig.iloc[0]['text']

'@115712 I understand. I would like to assist you. We would need to get you into a private secured link to further assist.'

In [6]:
orig.iloc[1]['text']

'@sprintcare and how do you propose we do that'

In [7]:
orig[orig.response_tweet_id.isnull()]

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
7,11,sprintcare,False,Tue Oct 31 22:10:35 +0000 2017,@115713 This is saddening to hear. Please shoo...,NaN,12.0
13,19,sprintcare,False,Tue Oct 31 22:10:10 +0000 2017,@115715 Please send me a private message so th...,NaN,20.0
19,27,Ask_Spectrum,False,Tue Oct 31 22:21:26 +0000 2017,@115716 No thank you. ^JK,NaN,26.0
20,23,115716,True,Tue Oct 31 22:16:05 +0000 2017,@Ask_Spectrum The correct way to do it is via ...,NaN,21.0
...,...,...,...,...,...,...,...
2811766,139628,ArgosHelpers,False,Wed Nov 22 08:03:26 +0000 2017,@134664 Can you Dm us your order number and we...,NaN,139627.0
2811767,2987945,VirginTrains,False,Wed Nov 22 08:27:34 +0000 2017,@524544 That's a Peak service. The 09:56 is th...,NaN,2987946.0
2811769,2987947,sprintcare,False,Wed Nov 22 08:43:51 +0000 2017,"@823869 Hey, we'd be happy to look into this f...",NaN,2987948.0
2811771,2812240,121673,True,Thu Nov 23 04:13:07 +0000 2017,@143549 @sprintcare You have to go to https://...,NaN,2812239.0
2811772,2987949,AldiUK,False,Wed Nov 22 08:31:24 +0000 2017,"@823870 Sounds delicious, Sarah! üòã https://t.c...",NaN,2987950.0

In [8]:
orig[orig.author_id == 'AldiUK']

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
4921,7437,AldiUK,False,Tue Nov 07 16:36:40 +0000 2017,@117260 @117242 @sainsburys @117249 @117246 @m...,"7436,7438,7439",7440.0
17627,22725,AldiUK,False,Wed Nov 01 08:38:24 +0000 2017,"@120967 Hi Simmone, we currently deliver Speci...",22726,22727.0
17635,22733,AldiUK,False,Wed Nov 01 08:37:29 +0000 2017,"@120970 Glad you enjoyed it, Nicola! üéÉüç∑",NaN,22734.0
17637,22735,AldiUK,False,Wed Nov 01 08:34:51 +0000 2017,"@120971 Hi Julie, thanks for your query. If yo...",NaN,22736.0
17639,22737,AldiUK,False,Wed Nov 01 08:34:07 +0000 2017,"@120972 Hi Sharon, we're sorry to hear you fee...",22738,22739.0
...,...,...,...,...,...,...,...
2807862,2984116,AldiUK,False,Tue Oct 31 21:06:30 +0000 2017,@227833 What a fantastic looking pud!,NaN,2984117.0
2807864,2984118,AldiUK,False,Tue Oct 31 21:05:57 +0000 2017,"@822880 Thanks for your tweet, Helen. If you'd...",NaN,2984119.0
2810776,2986977,AldiUK,False,Tue Nov 21 18:45:16 +0000 2017,@823589 Thanks Emma-Michelle! We're very pleas...,NaN,2986978.0
2810778,2986979,AldiUK,False,Tue Nov 21 18:39:33 +0000 2017,"@823590 Thanks for your tweet, Sus. We'll make...",NaN,2986980.0
2811772,2987949,AldiUK,False,Wed Nov 22 08:31:24 +0000 2017,"@823870 Sounds delicious, Sarah! üòã https://t.c...",NaN,2987950.0

In [10]:
orig[orig.tweet_id == 22734.0]

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
17636,22734,120970,True,Tue Oct 31 21:39:51 +0000 2017,@AldiUK spoiling myself with this beauty of a ...,22733,NaN

In [23]:
# print shows only truncated text
print(orig[orig.tweet_id == 22734.0]['text'])

17636    @AldiUK spoiling myself with this beauty of a ...
Name: text, dtype: object

In [24]:
# text stored as a series
type(orig[orig.tweet_id == 22734.0]['text'])

pandas.core.series.Series

In [25]:
# able to visualize full text 
orig[orig.tweet_id == 22734.0]['text'].values[0]

'@AldiUK spoiling myself with this beauty of a Halloween treat!  A zesty Italian white that is truly spooktacular. #aldiwineclub https://t.co/Fo3UwrztLm'

In [26]:
orig[orig.tweet_id == 22733.0]['text'].values[0]

'@120970 Glad you enjoyed it, Nicola! üéÉüç∑'