In [10]:
import pandas as pd
import numpy as np

In [3]:
#### Purpose of script:

#### Analyze customer care data and look for patterns
#### Data is Twitter customer care data from Twitter, from:
#### https://www.kaggle.com/datasets/thoughtvector/customer-support-on-twitter?resource=download

In [7]:
orig = pd.read_csv('../../../large_datasets/twcs.csv', header=0)

print(orig.shape)
orig.head(5)

(2811774, 7)

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0

In [14]:
orig.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2811774 entries, 0 to 2811773
Data columns (total 7 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   tweet_id                 2811774 non-null  int64
 1   author_id                2811774 non-null  object
 2   inbound                  2811774 non-null  bool
 3   created_at               2811774 non-null  object
 4   text                     2811774 non-null  object
 5   response_tweet_id        1771145 non-null  object
 6   in_response_to_tweet_id  2017439 non-null  float64
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 131.4+ MB

In [5]:
orig.iloc[0]['text']

'@115712 I understand. I would like to assist you. We would need to get you into a private secured link to further assist.'

In [6]:
orig.iloc[1]['text']

'@sprintcare and how do you propose we do that'